.footer-cont {
    background-color: #333333;
    width: 80%;
    margin: 70px auto;

    .footer-box {
        display: flex;
        align-items: center;
        padding: 40px;

        h4 {
            display: flex;
            font-family: 'Abril Fatface', cursive;
            font-size: 30px;
            letter-spacing: 1px;
            margin: 0;
            display: flex;
            color: #fff;
            align-items: center;
            padding: 0 30px;

            img {
                width: 60px;
                height: 60px;
            }
        }

        .nav-icons {
            display: flex;
            justify-content: space-between;
            width: 100%;

            .icons {
                padding: 0 30px;

                span {
                    color: #fff;
                    font-size: 25px;
                    padding-left: 15px;
                }
            }

            .footer-nav {
                display: flex;
                align-items: center;

                a {
                    text-decoration: none;
                    padding: 0 20px;
                    text-transform: uppercase;
                    color: #999999;
                    font-family: 'Open Sans', sans-serif;
                    font-weight: bolder;
                    font-size: 15px;
                }
            }
        }
    }
}