
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Open+Sans&display=swap');

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    width: 100%;
    background-color: #f9f2ec;
}

.main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 30px 15px;

    a {
        text-decoration: none;
        color: #000;

        h4 {
            font-family: 'Abril Fatface', cursive;
            font-size: 30px;
            letter-spacing: 1px;
            margin: 0;
            display: flex;
            align-items: center;
    
            img {
                width: 52px;
            }
        }
    }
}

.nav-menu {

    a {
        text-decoration: none;
        padding: 0 0 0 20px;
        text-transform: uppercase;
        color: #999999;
        font-family: 'Open Sans', sans-serif;
        font-weight: bolder;
        transition: color 0.5s;
    }
    a:hover {
        color: #000;
    }
}

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Open+Sans&display=swap');

.main-cont {
    margin: 0 auto;
    border-radius: 10px;
    overflow: hidden;

    .header-box {
        width: 100%;
        height: 100%;
        position: relative;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
       

        .header-text {
            max-width: 600px;

            h1 {
                color: #fff;
                margin: 0;
                font-weight: bolder;
                font-size: 10vmin;
            }

            p {
                font-family: 'Open Sans', sans-serif;
                line-height: 30px;
                padding: 30px 0;
                color: #fff;
            }

            .button {
                text-decoration: none;
                font-family: 'Abril Fatface', cursive;
                background-color:  #009999;
                color: #fff;
                padding: 12px 22px;
                font-size: 20px;
                letter-spacing: 1px;
                border-radius: 8px;
                display: block;      /* ovo stavljamo da padding il margina od drugog elementa ne prelazi preko njega, problem a elementa*/
                width: max-content;
                cursor: pointer;
                transition: color 0.5s linear;
                position: relative;
                z-index: 1;
            }

            .button:hover {
                color: #333333;
            }

            .button::before { 
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                border-radius: 8px;
                background-color: #ffcc99;
                z-index: -1;
                transition: transform 0.5s;
                transform-origin: 0 0;
                transition-timing-function: cubic-bezier(0.5,1.6,0.4,0,7);
                transform: scaleX(0);
            }

            .button:hover::before {
                transform: scaleX(1);
            }
        }
    }
}

.coffee-cont {
    width: 80%;
    margin: 200px auto;
    display: flex;
    position: relative;


    .grey-text {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        white-space: nowrap;
        z-index: 0;
    }

    .grey-text p {
        font-size: 12vw;
        margin: 0;
        background: -webkit-linear-gradient(#999999, #fff);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: bold;
        z-index: 0;
        letter-spacing: 5px;
    }

    .coffee-box {
        flex-basis: 300px;
        flex-grow: 1;
        margin: 0 15px;
        text-align: center;
        transition: transform 0.5s;
        z-index: 1;

        h3 {
            font-weight: bolder;
        }

        p {
            color: #595959;
        }

        img {
            width: 100%;
            height: 300px;
            object-fit: contain;
        }
    }

    .coffee-box:hover {
        transform: scale(1.2);
    }
}

.quest-cont {
    width: 80%;
    display: flex;

    .element-box {
        display: flex;
        flex-direction: column;
        flex-basis: 230px;
        padding: 0 20px;
        margin-right: 60px;

        h3 {
            font-size: 24px;
            color: #999999;
            margin: 0;
            padding: 14px;
            border-bottom: 1px solid #d9d9d9;
            white-space: nowrap;

            &:last-child {
                border-bottom: none;
            }

            span {
                padding-right: 15px;
            }
        }
    }

    .quest-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-basis: 700px;
        max-width: 100%;

        .main-questions {
            margin-bottom: 25px;
            width: 100%;

            > div {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 15px;
                cursor: pointer;

                h2 {
                    color: #808080;
                    font-weight: bold;
                    margin: 0;
                    padding-right: 20px;
                }

                span {
                    color: #009999;
                    font-size: 18px;
                    transition: all 300ms;
                }
            }

            .answer-box {
                height: 0;
                overflow: hidden;
                padding: 0;
                display: flex;
                transition: all 0.3s;

                .answer {
                    background-color: #f3e5d8;
                    width: 200px;
                    min-height: 230px;
                    margin: 0 15px;
                    padding: 0 20px;
                    border-radius: 8px;
                    box-sizing: border-box;

                    h4 {
                        font-size: 23px;
                    }

                    p {
                        color: #4d4d4d;
                        line-height: 20px;
                    }
                }
            }
        }

        .text-box {
            background-color: #333333;
            width: 100%;

            h4 {
                color: #999999;
                font-family: 'Open Sans', sans-serif;
                font-weight: bolder;
                font-size: 15px;
                padding: 10px 60px;
            }
            p {
                color: #fff;
                padding: 0px 60px 20px 60px;
                font-weight: bold;
                font-size: 23px;

                strong {
                    color: #009999;
                }
            }
        }
    }
}

.open-answers {
    padding: 30px 0 !important;
}

.active-answer {
    background-color: #009999 !important;
    
    h4, p {
        color: #fff !important;
    }
}

.hiw-cont {
    margin: 100px auto;
    width: 80%;
    box-sizing: border-box;

    >h3 {
        color: #808080;
        padding: 35px 20px;
        font-size: 29px;
        font-weight: bold;
    }

    .hiw-box {
       display: flex;
       position: relative;

       &::before {
        position: absolute;
        top: 0;
        left: 20px;
        height: 3px;
        width: 67%;
        content: "";
        background-color: #ffd9b3;
        }

       .hiw-item {
            flex-basis: 320px;
            padding: 20px 20px;
            margin: 30px 0;
            margin-right: auto;
            flex-wrap: wrap;
            position: relative;

            &::before {
                position: absolute;
                top: -45px;
                left: 20px;
                border: 1px solid #009999;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                background-color: #f9f2ec;
                content: "";
            }
            
            h1 {
                font-weight: bold;
                width: 155px;
                padding: 15px 0;
            }
            
            p {
                line-height: 25px;
                font-size: 19px;
                color: #404040;
            }

            span {
                color:  #ffd9b3;
                font-size: 80px;
                font-weight: bold;
                
            }
       }
    }

    .hiw_button {
        text-decoration: none;
        font-family: 'Abril Fatface', cursive;
        background-color:  #009999;
        color: #fff;
        padding: 12px 22px;
        font-size: 20px;
        letter-spacing: 1px;
        border-radius: 8px;
        display: block;      /* ovo stavljamo da padding il margina od drugog elementa ne prelazi preko njega, problem a elementa*/
        width: max-content;
        margin-left: 20px;
        cursor: pointer;
        transition: color 0.5s linear;
        position: relative;
        z-index: 1;
    }
    .hiw_button:hover {
        color: #333333;
    }

    .hiw_button::before { 
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border-radius: 8px;
        background-color: #ffcc99;
        z-index: -1;
        transition: transform 0.5s;
        transform-origin: 0 0;
        transition-timing-function: cubic-bezier(0.5,1.6,0.4,0,7);
        transform: scaleX(0);
    }

    .hiw_button:hover::before {
        transform: scaleX(1);
    }
}

.whyus-cont {
    width: 80%;
    margin: 100px auto;
    text-align: center;
    position: relative;

    &::before {
        content: "";
        background-color: #333333;
        width: 100%;
        height: 60%;
        position: absolute;
        left: 0;
        top: 0;
        border-radius: 8px;
    }

    > h2 {
        position: relative;
        z-index: 1;
        color: #fff;
    }

    > p {
        position: relative;
        z-index: 1;
        color: #cccccc;
        max-width: 700px;
        margin: 0px auto 50px auto;
        line-height: 25px;
    }

    .whyus-box {
        justify-content: center;
        width: 100%;
        position: relative;
        z-index: 1;
        margin: 30px 0;

        .whyus-item {
            background-color: #009999;
            padding: 60px 10px;
            border-radius: 8px;
            margin: 0 40px 40px 40px;

            h3 {
                font-weight: bold;
                color: #fff;      
                font-size: 25px;   
                margin: 0;
                padding: 25px 0;
            }
            
            p {
                padding: 0 40px;
                color: #fff;
            }

            img {
                width: 75px;
            }
        }
    }
}

.footer-cont {
    background-color: #333333;
    width: 80%;
    margin: 70px auto;

    .footer-box {
        display: flex;
        align-items: center;
        padding: 40px;

        a {
            text-decoration: none;
            color: #fff;

            h4 {
                display: flex;
                font-family: 'Abril Fatface', cursive;
                font-size: 30px;
                letter-spacing: 1px;
                margin: 0;
                display: flex;
                color: #fff;
                align-items: center;
                padding: 0 30px;
    
                img {
                    width: 52px;
                }
            }
        }

        .nav-icons {
            display: flex;
            justify-content: space-between;
            width: 100%;

            .icons {
                padding: 0 30px;

                span {
                    color: #fff;
                    font-size: 25px;
                    padding-left: 15px;
                    transition: color 0.5s;
                }
                span :hover {
                    color: #009999;
                }
                
            }

            .footer-nav {
                display: flex;
                align-items: center;

                a {
                    text-decoration: none;
                    padding: 0 20px;
                    text-transform: uppercase;
                    color: #999999;
                    font-family: 'Open Sans', sans-serif;
                    font-weight: bolder;
                    font-size: 15px;
                }
            }
        }
    }
}
////////////////////////////// MEDIA QUERY /////////////////////////////////////

@media only screen and (min-width: 1221px) {

    .main-cont,
    .main-nav {
        width: 80%;
    }

    .header-text {
        padding: 50px;

        h1 {
            font-size: 70px;
        }
    }

    .whyus-cont {
        padding: 50px 20px;

        >h2 {
            font-size: 40px;
        }
        .whyus-box {
            display: flex;
            flex-direction: row;
    
            .whyus-item  {
                width: 330px;

                .title-descr-box p {
                    font-size: 17px;
                }
            }
        }
    }

    .coffee-box h3 {
        font-size: 20px;
    }

    .hiw-cont {
        padding: 60px;
    }

    .quest-cont {
        margin: 150px auto;
        display: flex;

        h2 {
            font-size: 35px;
        }
    }
}

@media only screen and (max-width: 1220px) {

    .main-cont,
    .main-nav {
        width: 80%;
    }

    .header-text {
        padding: 50px;
    }

    .coffee-cont {
        display: flex;
        flex-direction: column;

        .coffee-box {
            display: flex;
            align-items: center;

            .info-box {
                text-align: initial;

                h3{
                    font-size: 30px;
                }

                p {
                    font-size: 25px;
                }
            }
        }
    }

    .whyus-cont {
        margin: 100px auto 50px auto;
        padding: 50px 20px;

        >h2 {
            font-size: 50px;
        }
        >p {
            font-size: 20px;
        }

        .whyus-box {
            display: flex;
            flex-direction: column;

            .whyus-item {
                padding: 50px;
                display: flex;
                align-items: center;

                img {
                    margin: 30px;
                }
                .title-descr-box {
                    text-align: initial;

                    h3 {
                        padding: 0 40px;
                        font-size: 30px;
                    }
                    p {
                        font-size: 21px;
                        color: #f2f2f2;
                    }
                }
            }
        }
    }

    .hiw-cont {
        margin: 100px auto;
        padding: 60px 30px;
    }

    .footer-box {
        flex-direction: column;

        .nav-icons {
            flex-direction: column;
            align-items: center;

            .footer-nav {
                margin: 20px 10px 30px 10px;
            }
        }
    }

    .quest-cont {
        flex-wrap: wrap;
        margin: 100px auto;

        .element-box {
            margin-right: 0;
            margin-bottom: 60px;
        }

        h2 {
            font-size: 35px;
        }
    }
}

@media only screen and (max-width:  890px) {

    .main-cont,
    .main-nav,
    .hiw-cont,
    .quest-cont,
    .footer-cont,
    .coffee-cont,
    .whyus-cont {
        width: 87%;
    }

    .whyus-cont {
        padding: 50px 0;

        > p {
            padding: 0 25px;
        }

        .title-descr-box {
            text-align: initial;
        }
    }

    .hiw-cont {
        padding: 60px 0px;
    }

    .quest-cont {
        h2 {
            font-size: 27px;
        }
    }  
}

@media only screen and (max-width:  740px) {
    .main-cont {
        .header-text {
            text-align: center;
            align-items: center;
            display: flex;
            flex-direction: column;
            padding: 50px 20px;
        }
    }

    .coffee-cont {
        .coffee-box {
            flex-wrap: wrap;
            margin-bottom: 70px;

            .info-box {
                text-align: center;

                h3 {
                    font-size: 27px;
                }

                p {
                    font-size: 21px;
                }
            }
        }
        .coffee-box:last-child {
            margin-bottom: 0;
        }
    }

    .whyus-cont {
        > h2 {
            font-size: 40px;
            padding: 0 20px;
        }

        .whyus-item {
            flex-wrap: wrap;
            display: flex;
            justify-content: center;

            .title-descr-box {
                display: flex;
                flex-direction: column;
                align-items: center;

                p {
                    padding: 0;
                    text-align: center;
                }
            }
        }
    }
}
